.b{
	background-color: #e5e7e9;
	margin-right: -8px;
	margin-left: -8px;
	padding-bottom: 180px;
	padding-top: 70px;
	background-image: url(course.svg);
	background-repeat: no-repeat;
}

.M{
	display: flex;
	margin-left: 100px;
	margin-right: 100px;
	gap: 45px;
}

.G{
	display: grid;
	grid-template-columns: 250px 250px;
	grid-gap: 10px;
}

.G div{
	background-color: white;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 15px;
	border-radius: 20px;
	box-shadow: #bdc3c7 1px 1px 6px ;
}

.G a{
	text-decoration: none;
	color: darkorange;
}

button{
	background-color: white;
	height: 35px;
	width: 140px;
	border-radius: 20px;
	border: none;
	color: darkorange;
}

.Nav{
	display: flex;
	gap: 100px;
	margin-left: 100px;
}

.NB{
	margin-top: 10px;
}

.NB a{
	text-decoration: none;
	font-size: 24px;
	margin-right: 20px;
	color: black;
	font-family: calibri;
}

.B1{
    background: linear-gradient(#083ab6,#072c89 );
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}

.P1{
	display: flex;
	gap: 100px;
	margin-bottom: 30px;
}

.p1d1 h1{
	font-size: 55px;
}

.p1d1 p{
	font-size: 22px;
}

.p1a1{
	margin-left: 20px;
    background: linear-gradient(orange,darkorange);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    box-shadow: #a6acaf 2px 2px 6px;
}

.p1a2{
	margin-left: 20px;
    background: linear-gradient(royalblue,darkblue);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    box-shadow: #a6acaf 2px 2px 6px;
}

.p1d1{
	margin-left: 120px;
}

.s3{
	display: flex;
	gap: 80px;
	padding-top: 120px;
	padding-bottom: 60px;
	background-color: #cacfd2;
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: -22px;
}

.s3 div{
	max-width: 50%;
}

.s3d1{
	margin-left: 50px;
}

.s3d1 h1{
	margin-left: 5px;
	font-size: 40px;
}

.s3d2{
	margin-right: 90px;
}

.s3d2 h1{
	margin-left: 70px;
	font-size: 40px;
}

.Footer{
	background-color: #0c0fd7;
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: -12px;
	color: white;
	text-align: center;
}

.m{
	display: flex;
	gap: 35px;
	text-align: left;
	margin-left: 20px;
}



